@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  min-height: 100vh;
  background-color: rgb(190, 229, 217);
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

.container {
  display:flex; 
  flex-direction:column; 
  min-height: 100vh;
  margin: 0;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 60px;
  background-image: url(./books.jpg);
  background-blend-mode: exclusion;
  background-color: rgb(43, 109, 89);
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: rgb(190, 229, 217);
}

.header ul li a svg {
  margin-right: 5px;
}

.footer {
  margin-top: auto;
  font-size: .75rem;
  color: rgb(190, 229, 217);
  background-color: rgb(9, 110, 80, .5);
  text-align: center;
  border-radius: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: rgb(23, 138, 88, .5);
}

.logs {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.log {
  background-color: rgba(14, 167, 121, 0.3);
  margin: 10px 0;
  padding: 20px 0 10px;
  border-radius: 10px;
  position: relative;
}

.log .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}


.date {
  font-size: .75rem;
  position: absolute;
  top: 10px;
  left: 10px;
}

.close:hover {
  color: red;
}

.btn {
  font-family: 'Roboto Slab', serif;
  background: rgba(185, 32, 103, 0.8);
  padding: 8px 15px;
  border: 1px solid rgb(220, 11, 129);
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(23, 138, 88, .5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
  p {
    font-size: .8rem;
  }
}

